.embedly-card {
  margin: 30px 0 30px 0;
}

@keyframes openDetail {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  50% {
    transform: translateY(3%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

details[open] .alert-box {
  animation: openDetail 500ms ease;
}

details[open] summary::before {
  transform: rotate(90deg);
}

.alert-box {
  position: relative;
  display: inline-block;
  margin: 0.5em 0;
  padding: 10px 20px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  border-radius: 10px;
}

.alert-box:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 100px;
  margin-left: -15px;
  border: 15px solid transparent;
}

.alert-box p {
  margin: 0;
  padding: 0;
}

.link-card {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  /* 以下はお好みで */
  border:solid 2px rgba(0,0,0,0.15);
  border-radius:5px;
}

/* マウスホバー時の挙動 */
.link-card:hover {
  opacity: 0.6;
  transition: 0.1s;
}

.link-card-title {
  font-weight: bold;
  margin-bottom: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-card-hostname {
  display: flex;
  align-items: center;
  height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-card-hostname-img {
  height: 100%;
  display: flex;
  align-items: center;
}

.link-card-hostname-img img {
  max-height: 100%;
  width: auto;
  margin-right: 1em;
}

.link-card-hostname span {
  font-size: 0.9em;
}

