{{- $url := (.Get 0) -}}
{{- $u := urls.Parse $url -}}

{{- with resources.GetRemote $url -}}
  {{- $result := . -}}

  {{- $title := "" -}}
  {{- $description := "" -}}
  {{- $image := "" -}}
  {{- $find := "" -}}

  {{- if eq $u.Hostname "www.youtube.com" -}}
    {{- $find = index (findRE "<body.*?>(.|\\n)*?</body>" $result.Content) 0 -}}
  {{- else -}}
    {{- $find = index (findRE "<head.*?>(.|\\n)*?</head>" $result.Content) 0 -}}
  {{- end -}}

  {{- range $meta := findRE "<meta.*?>" $find -}}
    {{- $name := replaceRE "<.*name=\"(.*?)\".*>" "$1" $meta -}}
    {{- $property := replaceRE "<.*property=\"(.*?)\".*>" "$1" $meta -}}
    {{- $content := replaceRE "<.*content=\"(.*?)\".*>" "$1" $meta -}}

    {{- if eq $property "og:title" -}}
      {{- $title = $content -}}
    {{- else if eq $property "og:description" -}}
      {{- $description = $content -}}
    {{- else if eq $property "og:image" -}}
      {{- $image = $content -}}
    {{- end -}}

    {{- if and (eq $description "") (eq $name "description") -}}
      {{- $description = $content -}}
    {{- end -}}
  {{- end -}}

  <!-- success -->
  <div class="web-card group h-[120px] bg-white border shadow rounded-lg my-4 sm:my-6 px-0 overflow-hidden">
    <a href="{{ $url }}" class="flex group-hover:no-underline">

      <div class="h-[120px] w-[120px] sm:w-auto max-w-[230px]">
        {{ with $image }}
          <img src="{{ htmlUnescape . }}" alt="{{ $description }}" class="m-0 h-full w-full object-cover">
        {{ else }}
          <div class="flex h-[120px] w-[120px] bg-gray-300 justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159" />
            </svg>
          </div>
        {{ end }}
      </div>

      <div class="flex flex-1 flex-col justify-between py-2 px-4">
        <div>
          <div class="text-sm font-bold">
            {{ if ne $title "" }}{{ $title }}{{ else }}{{ $u.Host | truncate 30 }}{{ end }}
          </div>
          <div class="text-xs text-gray-600">
            {{ $description | truncate 100 }}
          </div>
        </div>
      </div>
    </a>
  </div>

{{- else -}}

  <!-- failure -->
  <div class="widget h-[120px] bg-gray-100 border rounded-lg my-4 px-4 flex items-center">
    <span class="text-sm text-gray-600">
      {{ $u.Host | truncate 30 }} にアクセスできません
    </span>
  </div>

{{- end -}}
